# List Comprehension

List comprehensions are a unique way of quickly creating a list with python

In [1]:
mystring='Hello'

In [2]:
mylist1=[]

In [3]:
for letter in mystring:
    mylist1.append(letter)

In [4]:
mylist1

['H', 'e', 'l', 'l', 'o']

In [5]:
mylist2=[letter for letter in mystring]

In [6]:
mylist2

['H', 'e', 'l', 'l', 'o']

In [7]:
#more example

In [8]:
mylist=[x for x in 'word']

In [9]:
mylist

['w', 'o', 'r', 'd']

In [10]:
mylist=[x for x in range(0,11)]

In [11]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#If i have to create a list of square of all the numbers from 0 to 10

mylist=[num**2 for num in range(0,11)]

In [13]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# We can also use if statements

In [15]:
#Lets say we only have to grab even numbers from 0 to 10

evenlist=[x for x in range(0,11) if x%2==0]

In [16]:
evenlist

[0, 2, 4, 6, 8, 10]

In [17]:
#square of even numbers from 0 to 10

evensquare=[x**2 for x in range(0,11) if x%2==0]

In [18]:
evensquare

[0, 4, 16, 36, 64, 100]

In [21]:
#conversion of temperature from celcius to fahrenheit using list comprehension

In [20]:
celcius=[0,10,20,34.5]

In [22]:
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [23]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [24]:
#the above can be also done without list comprehension as 

fahrenheit=[]

for temp in celcius:
    fahrenheit.append((9/5)*temp+32)
    
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [25]:
#If else statements using list comprehensions

In [26]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [27]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [28]:
#nested loops

In [29]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [30]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [31]:
#Nested loops using list comprehensions

In [33]:
mylist1=[x*y for x in [2,4,6] for y in [100,200,300]]

In [34]:
mylist1

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [36]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Use a List Comprehension to create a list of the first letters of every word in the string below:

In [37]:
st = 'Create a list of the first letters of every word in this string'

In [38]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']